<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yolo.mapper.AddressBookMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into address_book (user_id, consignee, building, specific_location, is_default)
        VALUES(#{userId},#{consignee},#{building},#{specificLocation},#{is_default})
    </insert>
    <update id="update">
        update address_book
        <set>
            <if test="consignee != null">consignee = #{consignee},</if>
            <if test="building != null">building = #{building},</if>
            <if test="specificLocation != null">specific_location = #{specificLocation},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
        </set>
        where id = #{id}
    </update>
    <select id="select" resultType="com.yolo.pojo.entity.AddressBook">
        select * from address_book 
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="userId != null">and userId = #{userId}</if>
            <if test="consignee != null">and consignee = #{consignee}</if>
            <if test="building != null">and building = #{building}</if>
            <if test="specificLocation != null">and specific_location = #{specificLocation}</if>
            <if test="isDefault != null">and is_default = #{isDefault}</if>
        </where>
    </select>
</mapper>