<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yolo.mapper.OrderMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders (number, title, status, user_id, address_book_id, order_time, take_time, finish_time, amount, remark, receiver_id, express_station_id)
        VALUES(#{number},#{title},#{status},#{userId},#{addressBookId},#{orderTime},#{takeTime},#{finishTime},#{amount},#{remark},#{receiverId},#{expressStationId}
        )
    </insert>

    <select id="pageQuery" resultType="com.yolo.pojo.entity.Order">
        select * from orders
        <where>
            <if test="number != null and number!=''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>
</mapper>